<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800036989609-q2rvv2oae2smh469sadmiunln62n2k7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800036989609-q2rvv2oae2smh469sadmiunln62n2k7k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800036989609-e03ftq0dcvcn4fhg2vn98jkcv98sa17k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTela8kdQ34n2DtALw1UioV5efdghkGMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>800036989609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodMatch</string>
	<key>PROJECT_ID</key>
	<string>morningbrief-2442a</string>
	<key>STORAGE_BUCKET</key>
	<string>morningbrief-2442a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800036989609:ios:2c38231acc48ce8f0e97b8</string>
</dict>
</plist>